  body{
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
  }

  .nav-bar {
    background: linear-gradient(-90deg, #84CF6A, #16C0B0);
    height: 60px;
    margin-bottom: 15px;
    z-index: 1;
  }

 .product{
  /*	text-align: center;
  	margin:0 auto;*/
  	position: relative;
  }

  .product-image{
  	float: left;
  	overflow: hidden;
  	margin-top: 40px;
  	margin-left: 50px;
  	transition: all ease .3s;
  	outline: hidden;
  	width: 400px;
  	height: 400px;
  }
  .product-image img{
  	width: 400px;
  	height: 400px;
  	border:none;
  	outline: none;
  }
  .product-image:hover{
  	transform: scale(1.02);
  }

  /*.product ul{
  	list-style:none;
  	transition: all ease .3s;
  }
  .product ul li:hover{
  	text-decoration: underline;
  	transition: all ease .3s;
  }

.socks-size{
	margin-left: 100px;
	float: left;
	margin-bottom: 50px;
	position: absolute;

}
.socks-size ul li{
	margin-left: 10px;
	display: inline;
	font-size: 20px;
	font-weight: 400;

}*/
.btn{
	background:#FFC300  ;
	width: 150px;
	height:37px;
	border-radius: 0px;
	outline: none;
	margin-top: 20px;
	color:white; 
	font-weight: 600; 
}

.btn-add button:active{
	transform: scale(0.8);
	transition:all ease 0.5s;

}

.btn-add button:hover{
	transition:all ease 0.5s;
	background-color:#ff6600;
	color: #fff;
	border:none;
}
h1{
	text-align: center;
  	margin:0 auto;
  	font-size: 60px;
  	 color: #84CF6A;
  	 font-weight: 400;
}
h2{
	color: #006600;
	font-weight: 300;
}
.product-details{
	/*height: 400px;*/
	width: 400px;
	margin:0 auto;
	text-align: center;
	margin-top: 50px;
	width: 600px;
  	height: 400px;
  	margin-left: 30px;

}
.color-box{
	margin:0 auto;
 	text-align: center; 
 	font-weight: 300;
 	width: 40px;
 	height: 40px;
 	display: inline-block;
 	margin-right: 100px;
 	margin-left:75px;
 	cursor: pointer;
}

.overlay{
	 background: #EAF1F1;
    height: 100vh;
  	margin-top: 0px;
  	/*position: fixed;*/
}
.myStyle{
	display: none;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#btn{
	width:150px;
	height:40px;
	outline: none;
	font-size: 15px;
    font-weight: 400;
    font-family: sans-serif;
    color: black;
    border:2px solid darkgrey;
    background:none; 
    letter-spacing: 1px;
  transition: all .3s ease-in; 
  margin:0 auto;
  text-align: center;
  position: absolute;
  top:80%;
  left:50%;
  transform: translate(-50%,-80%);
}

#btn:hover{
	transition: all .3s ease-in;
	background:#A5A6A1; 
	color: white;
}
.slogan{
	left:50%;
	top:50%;
	transform: translate(-50% ,-50%);
	position: absolute;
	font-family: Arial,sans-serif;
	font-size: 40px;
	justify-content: center;
	text-align: center;
	color: grey;
}
.details-div{
	float: right;
	margin-top: 20px;
	margin-left: 0px;
}
.discr{
	margin-top: 50px;
	font-size: 20px;
}






































 @media screen and (max-width: 480px)
  {
  	h1, h2, h3 {
  		text-align: center;
      font-weight: 700;
	}
  	.product{
  		width: 100%;
  		margin:0 auto
  	}
  	.product-image{
  		margin-top: 20px;
	  	width: 90%;
	  	height: 200px;
	  	margin-top: 0px;
	  	margin-left: 0px;	
  	}
  	.product-image img{
  		width: 200px;
	  	height: 200px;  	
  	}
  }